{% assign showcase = showcases | first %}
<div id="presi" class="presi" style="display: none">

<style>
    .presi .layout__row {
        display: block;
        padding: 0;
    }
    .presi .project-detail {
        margin: 0;
    }
    .presi .layout__project-detail {
        padding: 0;
        height: 100vh;
        display: block;
    }
    .presi .project-detail__image {
        height: 100vh;
    }
    .presi aside {
        position: absolute;
        top: 0;
        right: 0;
        background: #000000;
        height: 100vh;
        opacity: 0.85;
        color: #ffffff
    }
    .presi .layout__project-meta {
        width: 280px;
        padding: 0;
        overflow: hidden;
    }
    .presi .layout__project-meta h1,
    .presi .layout__project-meta h2 {
        font-size: 16px;
    }
    .presi .project-meta__item,
    .presi .project-meta__curator {
        margin: 20px;
    }
</style>

<main class="main-content layout__main-content">

    <article class="project-detail layout__project-detail">
        <div class="project-detail__image"
            data-original-img="{{ showcase.image }}"
            style="background-image: url({{ showcase.image }})">

            <div class="project-detail__overlay">
                <h2 class="project-detail__location">{{ cbase.name }}</h2>
                <h1 class="project-detail__title">{{ showcase.name }}</h1>
            </div>
        </div>
    </article>

    <aside class="project-meta layout__project-meta">

        <div class="project-meta__item">
            <h1 class="project-detail__title">{{ showcase.organisation }}</h1>
            <h2 class="project-detail__location">({{ showcase.country }})</h2>
        </div>

        <div class="project-meta__item">
            <h3 class="project-meta__header">Categorie</h3>
            <p class="project-meta__text">{{ showcase.category }}</p>
        </div>

        <div class="project-meta__item">
            <h3 class="project-meta__header">Type</h3>
            <p class="project-meta__text">{{ showcase.type }}</p>
        </div>

        <div class="project-meta__item">
            <h3 class="project-meta__header">Tools</h3>
            <a href="{{ showcase.download }}" class="project-meta__link">{{ showcase.download }}</a>
        </div>

        <div class="project-meta__curator">
            <div class="curator">
                <img
                    data-original-img="{{ showcase.contact.image }}"
                    src="{{ showcase.contact.image }}" class="curator__avatar">
                <div class="curator__contact">
                    <h3 class="curator__name">{{ showcase.contact.name }}</h3>
                    <div class="curator__badge">curator</div>
                    <a href="mailto:{{ showcase.contact_email }}" class="curator__email">{{ showcase.contact_email }}</a>
                </div>
            </div>
        </div>

        <div class="project-meta__item" style="font-family: Arial; position: absolute; bottom: 20px; text-align: center; width: 100%; margin: 0">
            <a id="link-prev" href="?page={{ prev }}">← vorige</a> |
            <a id="link-next" href="?page={{ next }}">volgende →</a><br>
            <br>
            <a id="link-close" href="/cbase/{{ cbase.slug }}#{{ showcase.slug }}">presentatiemodus sluiten ✖</a>
        </div>

    </aside>

</main>

<script type="module">
    import Presi from '/js/Presi.mjs';
    var cbaseUrl = "/cbase/{{ cbase.slug }}.json";
    var cbase = await fetch (cbaseUrl).then(rs => rs.json());
    var presi = new Presi(cbase);
    presi.test();

    document.getElementById("start_presi").onclick = function () {
        document.getElementById("cbase").style.display = "none";
        document.getElementById("presi").style.display = "block";
    }

    document.onkeydown = function (e) {
        e = e || window.event;
        switch (e.key) {
            case 'ArrowLeft': document.getElementById('link-prev').click(); break;
            case 'ArrowRight': document.getElementById('link-next').click(); break;
            case 'Escape': e.preventDefault(); document.getElementById('link-close').click(); break;
        }
    };  
</script>

</div>