{% assign cbase = site.cbases | where: "slug", page.cbase | first %}
{% assign showcases = site.showcases | where: "cbase", cbase.slug %}
{
    "_links": {
        "_self": {
            "href": "{{ site.url }}{{ page.permalink }}",
            "title": "{{ cbase.description }}"
        }
    },
    "name": "{{ cbase.name }}",
    "description": "{{ cbase.description }}",
    "admin": {
        "name": "{{ cbase.admin.name }}",
        "image": "{{ cbase.admin.image }}",
        "email": "{{ cbase.admin.email }}"
    },
    "count": {{ showcases.size }},
    "_embedded": {
        {% for showcase in showcases %}
        "{{ showcase.slug }}": {
            "image": "{{ showcase.image }}",
            "name": "{{ showcase.name }}",
            "organisation": "{{ showcase.organisation }}",
            "country": "{{ showcase.country }}",
            "teaser": "{{ showcase.teaser }}",
            "description": "{{ showcase.description }}",
            "website": "{{ showcase.website }}",
            "category": "{{ showcase.category }}",
            "type": "{{ showcase.type }}",
            "tools": [
                ""
            ],
            "contact": {
                "name": "",
                "email": "",
                "image": ""
            }
        }{% if forloop.last == false %},{% endif %}
        {% endfor %}
    }
}